body{
	background-color: #F0F8FF;
	padding-top: 65px;
}

	
	p{
	font-size: 24px;
	font-family: arial;
	border-style: hidden;
	margin-right: 25%;
	margin-left: 5%;
	padding-bottom: 25px;
}

	h4{
	font-size: 24px;
	font-family: arial;
	border-style: hidden;
	margin-right: 10%;
	margin-left: 10%;
}

	h2{
	color: #008080;
	font-family: times new roman;
	font-size: 50px;
	text-align: center;
	margin-right: 20%;
	margin-left: 10%;
	padding-bottom: 40px;
	font-weight: bold;
	padding-top: 40px;
}

	table, th, tr, td{
		border-style: solid;
		width: auto;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		font-family: arial;
		font-size: 25px;
		border-color: #20B2AA;
}

	header{
	background-color: rgb(176,224,230, 0.5);
	height: 90px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}


	footer{
	background-color: #2F4F4F;
	height: 200px;
	position: relative;
}

	address{
	color: white;
	font-size: 20px;
	font-family: arial;
	margin-left: 5%; 
}


	figure{
	margin-right: 2%;
	margin-left: 98%;

}


*{

	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
	color: black;
	font-family: arial;
	font-weight: bold;

}

ul{
	list-style: none;
}

input[type="checkbox"]{
	display: none;
}

nav{

	background-color: rgb(47,79,79, 0.7);
	width: 300px;
	height: 350px;
	position: absolute;
	left: -350px;
	transition: all .5s;
}

a{
	display: block;
	padding: 20px 5px;
	color: white;
}

a:hover{

	background-color: rgb(102,205,170);
	color: black;
	border: solid;
	border-color: #008080;
}

label{

	padding: 15px;
	padding-left: 10px;
	position: absolute;
	z-index: 1;
}

ul{
	position: absolute;
	top: 70px;
	width: 100%;
	padding-left: 10px;
}

input[type="checkbox"]:checked ~ nav{

	transform: translateX(350px);
}

.logo{

	margin-left: 50%;
	margin-top: -0.1%;

}
